
@font-face {
    font-family: "Alata-Regular";
    src: url("fonts/Alata-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("fonts/JosefinSans-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    color: #fff;
}


.main-header{
    position: relative;
    width: 100%;
    max-height: 41.25rem;
    height: 90vh;
    background: url(images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.6rem 10rem;
    margin-bottom: 5rem;
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.main-header .container {
    --max-width: 1150px;
    --padding: 1.5rem;

    width: min(var(--max-width), calc(100% - var(--padding)*2));
    margin-inline: auto;
}

@media (max-width: 400px) {
    .main-header .container {
        padding: 1rem;
    }
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: width 300ms ease-in-out;
}

.underline:is(:hover, :focus-visible)::after {
    width: 100%;
}

.navigation-bar {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 8.5rem;
}


@media (max-width: 799px) {
    #main-navigation {
        position: absolute;
        text-transform: uppercase;
        background-color: black;
        inset: 0;
        padding: clamp(12rem,35vh, 15rem) 1.5rem;
        font-size: 1.5rem;
        height: 82vh;
        font-family: "JosefinSans-Light";
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;
    }
    
    .nav-list >*:not(:last-child) {
        margin-bottom: .75em;
    }

    #main-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
}

.home-logo {
    position: relative;
    z-index: 99;
}

.mobile-trigger {
    --width: 2.25rem;

    position: relative;
    z-index: 99;
    width: var(--width);
    aspect-ratio: 1;
    background: url("images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: var(--width);
    transition: background-image 300ms ease-in-out;
}

.mobile-trigger[aria-expanded="true"] {
    background-image: url("images/icon-close.svg");
}

@media (min-width: 50em) {

    .nav-list {
        display: flex;
        gap: 2.25rem;
        align-items: center;
    }

    .mobile-trigger {
        display: none;
    }
}

.nav-list a {
    font-family: "Alata-Regular";
    font-style: normal;
    font-weight: 500;
    letter-spacing: .02rem;
    color: #fff;
}


.main-heading {
    margin-top: -2rem;
    padding: 3em min(3em, 4vw) 2.5em;
    
}

.main-title{
    width: 700px;
    padding: 2rem;
    line-height: 4.4rem;
    letter-spacing: .8rem;
    text-align: left;
    border: .2rem solid rgb(255, 255, 255);
    font-family: 'JosefinSans-Light';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
}

@media (min-width: 599px) {
    .main-heading {
        max-width: 80%;
        padding: min(3em, 5vw) min(3em, 5vw) min(1.75em, 4vw);
    }
}

@media (min-width: 50em) {
    .main-heading {
        max-width: 59%;
    }
    
}


/* Hero start */

.hero_sec{
    position: relative;
    margin: 5rem 0;
    padding: 0 10rem;
}

.hero_sec img{
    position: relative;
    width: 50vw;
    height: 70vh;
}

.hero_sec .hero_box{
    position: relative;
    width: 570px;
    height: 325px;
    background: #fff;
    margin-bottom: -1rem;
    padding: 3.2rem 1rem 0 5.8rem;
    margin-top: auto;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;

}

.hero_sec .hero_box h1{
    color: #282828;
    text-transform: uppercase;
    padding: 1.2rem 0;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: .25rem;
    text-align: left;
    font-family: "JosefinSans-Light";
}

.hero_box p{
    color: hsl(0, 0%, 55%);
}


/* Hero end */

/* creations start */
.creations_top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.2rem;
}

.creations_top h1{
    position: relative;
    color: hsl(0, 0%, 0%);
    text-transform: uppercase;
    padding: 1.2rem 0;
    font-size: 3rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: .25rem;
    text-align: center;
    font-family: "JosefinSans-Light";
}


.creations_top .btn{
    border: 1.6px solid hsl(0, 0%, 0%);
    border-radius: 0;
    width: 15%;
    font-family: "Alata-Regular";
    font-weight: 400;
    letter-spacing: .15rem;
    background: transparent;
}
.creations_top .btn:hover{
    background: #000;
    color: #fff;
}

.img_group{
    position: relative;
    padding: 0 1rem 0 3rem;
}

.box:hover{
    opacity: 0.4;
}
.box{
    position: relative;
    width: 258px;
    height: 454px;
    background: url(images/desktop/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 1.6rem;
    box-shadow: 0px -40px 50px 0px rgba(0,0,0,0.80) inset;
    -webkit-box-shadow: 0px -40px 50px 0px rgba(0,0,0,0.80) inset;
    -moz-box-shadow: 0px -40px 50px 0px rgba(0,0,0,0.80) inset;

}.box:nth-child(2){
    background: url(images/desktop/image-night-arcade.jpg);
}.box:nth-child(3){
    background: url(images/desktop/image-soccer-team.jpg);
}.box:nth-child(4){
    background: url(images/desktop/image-grid.jpg);
}.box:nth-child(5){
    background: url(images/desktop/image-from-above.jpg);
}.box:nth-child(6){
    background: url(images/desktop/image-pocket-borealis.jpg);
}.box:nth-child(7){
    background: url(images/desktop/image-curiosity.jpg);
}.box:nth-child(8){
    background: url(images/desktop/image-fisheye.jpg);
}
.box h1{
    position: absolute;
    color: #fff;
    bottom: 1.4rem;
    left: 3rem;
    text-transform: uppercase;
    line-height: 2.8rem;
    font-weight: 500;
    font-family: "JosefinSans-Light";
}

/* creations end */


/* footer start */
.footer{
    position: relative;
    width: 100%;
    height: 25vh;
    padding: 3rem 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #000;
}


.footer .right p{
    font-weight: 500;
    text-align: right;
    color: hsl(0, 0%, 55%);
}

.footer ul{
    display: flex;
    padding-left: 0;
}

.footer li{
    margin: 2rem 1rem 0 0;
}


.footer a{
    font-family: "Alata-Regular";
    font-style: normal;
    font-weight: 500;
    letter-spacing: .02rem;
    color: #fff;
}

.social_media{
    position: relative;
    text-align: right;
    margin-top: .4rem;
    margin-bottom: 2.2rem;
}

.social_media img{
    margin: 0 .4rem;
}

/* footer end */

@media screen and (min-width: 787px) {
    .hero_sec{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: auto;
    }
    
     .hero_sec img{
        width: 100%;
        height: 28rem;
        padding: 0;
    }
    
    .hero_sec .hero_box{
        position: relative;
        width: 570px;
        height: 325px;
        margin-left: -8rem;
        padding: 3.2rem 1rem 0 5.8rem;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 786px) {
    .main-header{
        padding: 2rem;
        background: url(images/mobile/image-hero.jpg);
        background-size: cover;
    }
    
    .main-header::before{
        display: none;
    }
    .main-heading {
        margin-top: 2rem;
        padding: 0;
    }
    .main-heading .main-title{
        width: 100%;
        line-height: 2.6rem;
        font-size: 1.7rem;
        letter-spacing: .15rem;
        word-spacing: 5rem;
    }
    .hero_sec{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    
    .hero_sec img {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    
    .hero_sec .hero_box{
        position: relative;
        width: 570px;
        height: 325px;
        text-align: center;
        padding: 1rem;
    }
    .hero_sec .hero_box h1{
        text-align: center;
    }


    .creations_top{
        flex-direction: column;
        padding: 0;
    }
    .creations_top .btn{
        width: 34%;
    }

    .img_group{
        padding: 1rem;
    }

    .box{
        position: relative;
        width: 416px;
        height: 152px;
        background: url(images/mobile/image-deep-earth.jpg);
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 1rem 0;
    }.box:nth-child(2){
        background: url(images/mobile/image-night-arcade.jpg);
    }.box:nth-child(3){
        background: url(images/mobile/image-soccer-team.jpg);
    }.box:nth-child(4){
        background: url(images/mobile/image-grid.jpg);
    }.box:nth-child(5){
        background: url(images/mobile/image-from-above.jpg);
    }.box:nth-child(6){
        background: url(images/mobile/image-pocket-borealis.jpg);
    }.box:nth-child(7){
        background: url(images/mobile/image-curiosity.jpg);
    }.box:nth-child(8){
        background: url(images/mobile/image-fisheye.jpg);
    }

    .box h1{
        bottom: .6rem;
        left: 1.2rem;
    }

    .creations_top h1{
        font-size: 2.4rem;
    }
    .creations_top .btn{
        position: absolute;
        top: 102rem;
    }
    
    
    .footer{
        height: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer .links{
        font-size: 1.6rem;
        text-align: center;
    }
     
    .footer .right p{
        text-align: center;
        letter-spacing: 1.4px;
        font-weight: 700;
    }
    
    .footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    } 
    
    .footer li{
        margin: 2rem 1rem 0 0;
    }
    .footer a{
        font-family: 'JOSEFINSANS-LIGHT';
    }
    
    .social_media{
        position: relative;
        text-align: center;
        margin-top: 3rem;
    }
    
    .social_media img{
        margin: 0 .4rem;
    } 

    .main{
        position: relative;
        width: 100%;
        height: 100vh;
        background: #000;
    }
    .hero{
        display: none;
    }
    .active .open_icon{
        display: none;
    }

    .nav_list ul{
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 10rem;
        right: 6rem;
    }
   
    .nav_list li{
        margin: .6rem 0;
    }
    
    .nav_list a{
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: "JosefinSans-Light";
        font-weight: 100;
        transition: all 0.1s ease-in-out;
        } 
}
